<h1>Family Members</h1>
<span class="label label-warning">Family Code:&nbsp;<%= @family.family_code %></span><br />
<% if user_at_least_case_manager? %>
<a href=<%=add_new_family_member_path(@family)%> class="btn btn-primary btn-large pull-right">Add New Family Member</a>
<br />
<%end%>
<% @family_members.each do |family_member| %>
<h2><%=family_member.firstname%></h2>
<% if user_at_least_case_manager? %>
<a class="btn btn-primary btn-mini" href=<%= edit_existing_family_member_path(@family,family_member)%>>Edit Info</a>
<% end %>
<% if user_at_least_manager? %>
<%= link_to "Delete Family Member", family_member, :class=>"btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this family member?', method: :delete %><br /><br />
<% end %>
<div class="row">
   <div class="span12 blurb">
   <table>
     <tr> 
	<td class="field"><h4>Age:&nbsp;</h4></td><td><%=family_member.age%></td>
     </tr>
     <tr>
	<td class="field"><h4>Gender:&nbsp;</h4></td><td><%=family_member.gender%></td>
     </tr>
     <tr>
	<td class="field"><h4>Pant Size:&nbsp;</h4></td><td><%=family_member.pant_size%></td>
     </tr>
     <tr>	
        <td class="field"><h4>Dress Size:&nbsp;</h4></td><td><%=family_member.dress_size%></td>
     </tr>
     <tr>	
        <td class="field"><h4>Shirt Size:&nbsp;</h4></td><td><%=family_member.shirt_size%></td>
     </tr>
     <tr>	
        <td class="field"><h4>Shoe Size:&nbsp;</h4></td><td><%= family_member.shoe_size%></td>
     </tr> 
     <tr>
	<td class="field"><h4>Comment:&nbsp;</h4></td><td><%=family_member.comment%></td>
     </tr>
     <tr>
        <td class="field"><h4>Wishlist:&nbsp;</h4></td><td><%= family_member.wishlist%></td>
     </tr>
    </table> 
  </div>
</div>
<br />
<%end%>
<br />
<% if @size > 0 %>
<a class="btn btn-success btn-large" href=<%=new_donor_path(@family)%>>Adopt this Family!</a>
<% end %>
