<h1>New Family</h1>
<br />
<%= form_for(@family) do |f| %>
    <%= f.label :family_code, "Family Code:" %>
    <%= f.text_field :family_code %>
    <%= f.label :profile, "Family Profile:" %>
    <%= f.text_area :profile %>
    <%= f.label :locationID, "Location:" %>
    <select name="family[locationID]">
      <option value="<%= Family::OAKLAND_ID %>">Oakland</option>
      <option value="<%= Family::RICHMOND_ID %>">Richmond</option>
      <option value="<%= Family::ANTIOCH_ID %>">Antioch</option>
      <option value="<%= Family::BAY_POINT_ID %>">Bay Point</option>
    </select><br />
    Display:&nbsp;<input type="checkbox" name="family[display]" value="1"><br /><br />
    <%= f.submit "Create New Family", :class=> "btn btn-primary btn-large", confirm: "Are you sure you want to create this family?" %>
<% end %>
