<h1>New Family</h1>
<br />
<%= form_for(@family) do |f| %>
    <%= f.label :family_code, "Family Code:" %>
    <%= f.text_field :family_code %>
    <%= f.label :profile, "Family Profile:" %>
    <%= f.text_area :profile %>
    <%= f.label :locationID, "Location:" %>
    <select name="family[locationID]" id="Location">
      <option value="<%= Family::OAKLAND_ID %>"><%= Family.get_location_name(Family::OAKLAND_ID) %></option>
      <option value="<%= Family::RICHMOND_ID %>"><%= Family.get_location_name(Family::RICHMOND_ID) %></option>
      <option value="<%= Family::ANTIOCH_ID %>"><%= Family.get_location_name(Family::ANTIOCH_ID) %></option>
      <option value="<%= Family::BAY_POINT_ID %>"><%= Family.get_location_name(Family::BAY_POINT_ID) %>Point</option>
    </select><br />
    <%= submit_tag "Create New Family", :class=> "btn btn-primary btn-large", confirm: "Are you sure you want to create this family?" %>
<% end %>
