<li><strong>Family Code</strong> <%= @family.family_code %></li>
<li><strong>Profile</strong> <%= @family.profile %></li>
<li><strong>Location</strong> <%= @family.location %></li>
<li><strong>Display</strong> <%= @family.display %></li>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
