<% if user_at_least_case_manager? %>
<table id="donors" class="table table-striped">
               <strong>All Donors</strong><br />
      <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>Email:</th>
        <th>Location:</th>
        <% if user_at_least_manager? %>
        <th>Delete?</th>
        <% end %>        
      
      <% @donors.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>           
          <td><%= user.email %></td>
          <td><%= user.get_location %></td>
           <% if user_at_least_manager? %>
          <td><%= link_to "Delete Donor", user, :class=> "btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this donor?', method: :delete %></td>
          <% end %>
           
      <tr />
  <% end %>
</table>

<% end %>

<% if user_at_least_manager? %>
<table id="case_managers" class="table table-striped">
               <strong>All Case Managers</strong><br />
      <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>Email:</th>
        <th>Location:</th>
        <th>Delete?</th>
        
      
      <% @case_managers.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>          
          <td><%= user.email %></td>
          <td><%= user.get_location %></td>
          <td><%= link_to "Delete Case Manager", user, :class=> "btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this case manager?', method: :delete %></td>
           
      <tr />
  <% end %>
</table>



<table id="managers" class="table table-striped">
               <strong>All Managers</strong><br />
      <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>Email:</th>
        <th>Location:</th>
        <% if user_is_superuser? %>
        <th>Delete?</th>
        <% end %>
        
      
      <% @managers.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>          
          <td><%= user.email %></td>
          <td><%= user.get_location %></td>
          <% if user_is_superuser? %>
          <td><%= link_to "Delete Manager", user, :class=> "btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this manager?', method: :delete %></td>
          <% end %>
           
      <tr />
  <% end %>
</table>


<% end %>
