<img src="http://www.brighter-beginnings.org/wp-content/themes/bb_new/images/brighter_beginnings_logo.png" alt="logo"/>
<div class="padding" style="padding-bottom:25px;">&nbsp;</div>
<h1>Nearby Families</h1>
<% if user_is_case_manager? %>
  <a href=<%= pending_families_path %>>(View pending families info)</a>
<% end %>
<% if user_at_least_manager? %>
  <a href=<%= pending_families_path %>>(Approve pending families info)</a>
<% end %>
<form action="/users/main" method="get">
Filter by Family Size:
<% @family_sizes.each do |size| %>
  <input type="checkbox" id=<%="family_size_#{size}"%> name="family_size[]" value=<%=size%> <%=checked(size)%> /> 
  <% if size == 5 %>
    <%=size%>+
  <%else%>
    <%=size%>
  <%end%>
<%end%>
<input type="submit" id="Filter" value="Filter" class="btn btn-default btn-medium">
<% if user_at_least_case_manager? %>
  <a class="btn btn-warning btn-medium" href=<%= new_family_path %>>Add New Family</a>
<% end %>
</form>
<table id="nearby_families" class="table table-striped">
   <% @display_families.each do |family| %>
      <tr>
         <td>
           <strong>Family Code:&nbsp;<%= family.family_code %></strong><br />
	         <strong>Family Size:&nbsp;</strong><%= family.get_size %><br />
           <strong>Profile:&nbsp;</strong><%= family.profile %><br /><br />
           <a class="btn btn-info btn-mini" href=<%=family_details_path(family)%>>View Details</a>
           <% if user_at_least_case_manager? %>
	   <a class="btn btn-primary btn-mini" href=<%=edit_family_path(family)%>>Edit Family Info</a>
	   <% end %>
	   <% if user_at_least_manager? %>
           <%= link_to "Delete Family", family, :class=> "btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this family?', method: :delete %>
	   <% end %>

         </td>
      <tr />
  <% end %>
</table>

<br />
