<h1>Nearby Families</h1>
<form action="/users/main" method="get">
Filter by family size:
<% @family_sizes.each do |size| %>
  <input type="checkbox" id=<%="family_size_#{size}"%> name="family_size[]" value=<%=size%> <%=checked(size)%> /> 
  <% if size == 5 %>
    <%=size%>+
  <%else%>
    <%=size%>
  <%end%>
<%end%>
<input type="submit" id="Filter" value="Filter" class="btn btn-default btn-medium">
<a class="btn btn-warning btn-medium" href=<%= new_family_path %>>Add New Family</a>
<br /><br />
<table id="nearby_families" class="table table-striped">
   <% @display_families.each do |family| %>
      <tr>
         <td>
           <strong>Family Code:&nbsp;<%= family.family_code %></strong><br />
           <strong>Profile:&nbsp;</strong><%= family.profile %><br /><br />
           <a class="btn btn-info btn-mini" href=<%=family_details_path(family)%>>View Details</a>
	   <a class="btn btn-primary btn-mini" href=<%=edit_family_path(family)%>>Edit Family Info</a>
           <%= link_to "Delete Family", family, :class=> "btn btn-danger btn-mini", confirm: 'Are you sure you want to delete this family?', method: :delete %>
         </td>
      <tr />
  <% end %>
</table>
<br />

</form>
