<h1>Complete Profile Information</h1><br />

<%= form_for(@user) do |f| %>
    <%= f.label :firstname, "First Name(*)" %>
    <%= f.text_field :firstname, :value => session[:user_firstname], :required => true %>
    <%= f.label :lastname, "Last Name(*)"%>
    <%= f.text_field :lastname, :value => session[:user_lastname], :required => true %>
    <%= f.label :phone, "Primary Phone Number(*)" %>
    <%= f.text_field :phone, :required => true %>
    <%= f.label :address_1, "Address 1(*)" %>
    <%= f.text_field :address_1, :required => true %>
    <%= f.label :address_2, "Address 2" %>
    <%= f.text_field :address_2 %>
    <%= f.label :city, "City(*)" %>
    <%= f.text_field :city, :required => true %>
    <%= f.label :state, "State(*)" %>
    <%= f.text_field :state, :required => true %>
    <%= f.label :zipcode, "Zipcode(*)" %>
    <%= f.text_field :zipcode, :required => true %>
    <%= f.label :email, "Email(*)" %>
    <%= f.text_field :email, :value => session[:user_email], :required => true%>
    <%= f.label :organization %>
    <%= f.text_field :organization %>
    <%= f.label :locationID, "Please select your preferred drop-off location.(*)" %>
    <select id="user_locationID" name="user[locationID]">
      <option value="<%= Family::OAKLAND_ID %>"><%= Family.get_location_name(Family::OAKLAND_ID) %></option>
      <option value="<%= Family::RICHMOND_ID %>"><%= Family.get_location_name(Family::RICHMOND_ID) %></option>
      <option value="<%= Family::ANTIOCH_ID %>"><%= Family.get_location_name(Family::ANTIOCH_ID) %></option>
    </select><br /><br />
    <%= f.submit "Submit", :class=>"btn btn-primary btn-large" %>
<% end %>

