<% if user_at_least_case_manager? %>
  <h1>Approved Donations</h1>
  <a href='/donations/pending'>(View pending donations)</a><br/><br/>
<% else %>
  <h1>Your donations</h1>
<% end %>
<table id="donors" class="table table-striped">
<% @donations.each do |donation| %>
  <tr>
    <td>   
      <big><strong>Family Code: </strong>
        <%= link_to "#{donation.family_code}", family_details_path(get_family_id_from_code donation.family_code)%></big><br/>
      <strong>Scheduled Dropoff: </strong><%= donation.scheduled_dropoff %><br/>
      <strong>Dropoff Site: </strong><%= Family.get_location_name(donation.dropoff_site) %><br/>
      <strong>Status: </strong><span id="<%= get_status_id donation.id %>"><%= get_donation_status donation.id %></span>
      <% if user_at_least_case_manager? %>
        <br/><strong>Donor: </strong><%= get_user_info(donation.user_id) %>
        <br/><strong>Approved by: </strong><%= get_user_info(donation.approved_by) %>
        <br/><strong>Dropped off Date: </strong><%= donation.dropped_off_date %>
        <br/><strong>Date Delivered: </strong><%= donation.date_delivered %>
	<br/><strong>Number of Boxes: </strong><%= donation.num_boxes %>
      </td> 
      </tr>
        <% if user_at_least_manager? %>
	<tr>
	<td>
        <%= form_for donation do |f| %>
	<br/>
	<strong>Dropped Off Date: </strong><input type="text" id="donation_dropped_off_date" name="donation[dropped_off_date]" style="width:120px; height:15px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<strong>Date Delivered: </strong><input type="text" id="donation_date_delivered" name="donation[date_delivered]" style="width:120px; height:15px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<strong>Number of Boxes: </strong><input type="text" id="donation_num_boxes" name="donation[num_boxes]" style="width:50px; height:15px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><%= f.submit "Edit Donation Info", :class=>"btn btn-primary btn-small" %></td></tr>
	<% end %> 
	<% end %>
     <% end %>
<% end %>
</table>
