<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Brighter Beginnings</a>
      <div class="nav-collapse">
        <ul class="nav">
          <%= navbar_link "Home", '/' %>
          <% if user_at_least_case_manager? %>
            <%= navbar_link "All Families", '/users/main' %>
	          <%= navbar_link "Pending Donations", '/donations/pending' %>
	          <%= navbar_link "Accounts", '/users' %>
	        <% else %>
	          <% if logged_in? %>
	            <%= navbar_link "Nearby Families", '/users/main' %>
	            <%= navbar_link "Your Donations", '/users/donations' %>
	          <% end %>
	          <%= navbar_link "About", '/about' %>
	          <%= navbar_link "Contact", '/contact' %>
          <% end %>
        </ul>
        <ul class="nav pull-right">
            <% if session[:user_name] != nil %>
              <li class = "username">
                <%= session_username_link %>
              </li>
            <% end %>
            <li>
              <%= session_status_link %>
            </li>
 </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<% if flash[:error] != nil %>
  <div class="flash-error">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:warning] != nil %>
  <div class="flash-warning">
    <%= flash[:warning] %>
  </div>
<% end %>

<% if flash[:notice] != nil %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
