<!DOCTYPE html>
<html>
<head>
  <title>BrighterBeginnings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/custom.css" />
</head>
<body>
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
<%= render '/common/navbar' %>
<div class="container">
<%= yield %>
</div>
<%= render '/common/footer' %>
</body>
</html>
